[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=`ubuntu-server-user`
Group=`ubuntu-server-user`
WorkingDirectory=/home/`ubuntu-server-user`/app/src/
Environment="Path=/home/`ubuntu-server-user`/app/venv/bin"
EnvironmentFile=/home/`ubuntu-server-user`/.env
ExecStart=/home/`ubuntu-server-user`/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.
main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target